/* font-family: 'Marck Script', cursive;
font-family: 'Montserrat', sans-serif; */


* {
    box-sizing: border-box;
}

body {
    padding: 40px 50px 50px 50px;
    background-color: #F0F1F2
}

h1  {
    font-family: 'Marck Script', cursive;
    font-size: 5rem;
    margin: 0;
}

h2  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    margin: 0;
}

.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 2fr 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 5px;
    padding: 10px;
    margin-top: 20px;
}

.box {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1; 
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.box img {
    /* grid-column: 1/ -1;
    grid-row: 1/-1; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}